.preloader {
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 999999;
    width     : 100%;
    height    : 100%;
    overflow  : hidden;
    background: #ffffff;

    .preloader-spin {
        display                    : -webkit-box;
        display                    : -ms-flexbox;
        display                    : flex;
        -webkit-box-align          : center;
        -ms-flex-align             : center;
        align-items                : center;
        -webkit-box-pack           : center;
        -ms-flex-pack              : center;
        justify-content            : center;
        width                      : 100%;
        height                     : 100%;
        position                   : relative;
        -webkit-backface-visibility: hidden;
        backface-visibility        : hidden;

        // div {
        //     animation       : spin 1s linear infinite;
        //     width           : 60px;
        //     height          : 60px;
        //     border-radius   : 50%;
        //     box-shadow      : 0 4px 0 0 #545E72;
        //     transform-origin: 30px 30px;
        //     box-sizing      : content-box;
        // }
    }
}

.balloon{
    width: 388px;
    height: 465px;
    animation: float 2s ease-in-out infinite;
    @media screen and (max-width:991.98px) {
        width: 188px;
        height: 216px;
     }
}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform        : rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform        : rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform        : rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform        : rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
    }
}