@font-face {
    font-family: 'google_sansbold';
    src: url('../assets/fonts/googleSans/googlesans-bold-webfont.eot');
    src: url('../assets/fonts/googleSans/googlesans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/googleSans/googlesans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/googleSans/googlesans-bold-webfont.woff') format('woff'),
         url('../assets/fonts/googleSans/googlesans-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/googleSans/googlesans-bold-webfont.svg#google_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansbold_italic';
    src: url('../assets/fonts/googleSans/googlesans-bolditalic-webfont.eot');
    src: url('../assets/fonts/googleSans/googlesans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/googleSans/googlesans-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/googleSans/googlesans-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/googleSans/googlesans-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/googleSans/googlesans-bolditalic-webfont.svg#google_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansitalic';
    src: url('../assets/fonts/googleSans/googlesans-italic-webfont.eot');
    src: url('../assets/fonts/googleSans/googlesans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/googleSans/googlesans-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/googleSans/googlesans-italic-webfont.woff') format('woff'),
         url('../assets/fonts/googleSans/googlesans-italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/googleSans/googlesans-italic-webfont.svg#google_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansmedium';
    src: url('../assets/fonts/googleSans/googlesans-medium-webfont.eot');
    src: url('../assets/fonts/googleSans/googlesans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/googleSans/googlesans-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/googleSans/googlesans-medium-webfont.woff') format('woff'),
         url('../assets/fonts/googleSans/googlesans-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/googleSans/googlesans-medium-webfont.svg#google_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansmedium_italic';
    src: url('../assets/fonts/googleSans/googlesans-mediumitalic-webfont.eot');
    src: url('../assets/fonts/googleSans/googlesans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/googleSans/googlesans-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/googleSans/googlesans-mediumitalic-webfont.woff') format('woff'),
         url('../assets/fonts/googleSans/googlesans-mediumitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/googleSans/googlesans-mediumitalic-webfont.svg#google_sansmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'google_sansregular';
    src: url('../assets/fonts/googleSans/googlesans-regular-webfont.eot');
    src: url('../assets/fonts/googleSans/googlesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/googleSans/googlesans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/googleSans/googlesans-regular-webfont.woff') format('woff'),
         url('../assets/fonts/googleSans/googlesans-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/googleSans/googlesans-regular-webfont.svg#google_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}