<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
        <title>Polaris IK</title>
        <!--Favicon start-->
        <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="../../../public/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../../../public/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../../public/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../../public/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../../public/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../../public/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../../public/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../../public/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../../../public/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../../../public/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../public/favicon-32x32.png" >
        <link rel="icon" type="image/png" sizes="96x96" href="../../../public/favicon-96x96.png" >
        <link rel="icon" type="image/png" sizes="16x16" href="../../../public/favicon-16x16.png">
        <link rel="manifest" href="../../../public/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../../../public/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!--Favicon end-->

        <!---outfit google fonts start-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!---outfit google fonts end-->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
        <link rel="stylesheet" href="../../assets/front/css/app.css">
    </head>
    <body>
        <div id="app" class="app">
            <div class="preloader">
                <div class="preloader-spin">
                    <img id="animateLogo" src="../../../public/assets/statics/logo-1-pre.svg" alt="">
                    <img id="textLogo" src="../../../public/assets/statics/logo-2-pre.svg" alt="">
                </div>
            </div>
            <div id="burgerBtn" class="primaryBtn"></div>
            <div id="mobileMenu" class="d-lg-none">
                <div class="menuColumn">
                    <ul class="navbar-nav">
                   <li class="nav-item">
                        <a class="nav-link" href="bizkimiz.html">Biz Kimiz?</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hizmetlerimiz
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="festivaller-konserler.html">Festivaller ve Konserler</a></li>
                            <li><a class="dropdown-item" href="kongre-toplantilari.html">Kongre ve Toplantılar</a></li>
                            <li><a class="dropdown-item" href="resmi-torenler.html">Resmi Törenler ve Anma Programları</a></li>
                            <li><a class="dropdown-item" href="tanitim-lansmanlar.html">Tanıtım ve Lansmanlar</a></li>
                            <li><a class="dropdown-item" href="fuar-standlar.html">Fuar ve Standlar</a></li>
                            <li><a class="dropdown-item" href="vip-karsilama.html">Vip Karşılama ve Transfer</a></li>
                            <li><a class="dropdown-item" href="lcv-sms-mailing-hizmetleri.html">LCV, Sms ve Mailing Hizmetleri</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="medya.html">Medya</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="referanslar.html">Referanslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="iletisim.html">İletişim</a>
                    </li>
                    <li class="nav-item pt-4">
                        <a class="btn btn-light text-primary rounded-pill px-5 fw-semibold" href="bize-katilin.html">Bize Katıl</a>
                    </li>
                </ul>
            </div>
                <div class="menuBottom">
                    <a href="javascript:;" class="language nav-link">ENGLISH</a>
                    <div class="socialMedia hstack">
                        <a href="javascript:;"><span class="fs-6 icon-instagram"></span></a>
                        <a href="javascript:;"><span class="fs-6 icon-twitter"></span></a>
                        <a href="https://www.linkedin.com/company/ikpolaris/?originalSubdomain=tr" target="_blank"><span class="fs-6 icon-linkedin"></span></a>
                        <a href="javascript:;"><span class="fs-6 icon-facebook"></span></a>
                        <a href="https://www.youtube.com/@PolarisInsanKaynaklar?si=crJb8efFssJ-hPcm" target="_blank"><span class="fs-6 icon-youtube"></span></a>
                    </div>
                </div>
            </div>
            <main class="bg-white">
                <!----bgNone class ı sadece anasayfada ekli degildir tüm ic sayfalarda eklidir-->
                <header class="pt-4 bgNone w-100">
                    <div class="container-xxxl px-xxxl-0 pe-0 pt-2 ps-lg-5 ps-xxxl-0">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid px-0">
                                <a class="navbar-brand col-lg-2 pe-lg-4" href="index.html">
                                    <img height="60px" class="w-100" src="../../../public/assets/statics/logo-light.svg" alt="">
                                    <img height="60px" class="w-100 d-none" src="../../../public/assets/statics/logo-dark.svg" alt="">
                                </a>
                                <ul class="ps-3 navbar-nav me-auto mb-2 mb-lg-0 d-none d-lg-flex">
                                    <li class="nav-item">
                                        <a class="nav-link" href="bizkimiz.html">Biz Kimiz?</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="festivaller-konserler.html">Hizmetlerimiz</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="medya.html">Medya</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="referanslar.html">Referanslar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="iletisim.html">İletişim</a>
                                    </li>
                                </ul>
                                <div class="hstack d-none d-lg-flex">
                                    <div class="socialMedia pe-xxl-5 pe-3 me-2 hstack">
                                        <a href="javascript:;"><span class="fs-5 icon-instagram"></span></a>
                                        <a href="javascript:;"><span class="fs-5 icon-twitter"></span></a>
                                        <a href="https://www.linkedin.com/company/ikpolaris/?originalSubdomain=tr" target="_blank"><span class="fs-5 icon-linkedin"></span></a>
                                        <a href="javascript:;"><span class="fs-5 icon-facebook"></span></a>
                                        <a href="https://www.youtube.com/@PolarisInsanKaynaklar?si=crJb8efFssJ-hPcm" target="_blank"><span class="fs-5 icon-youtube"></span></a>
                                    </div>
                                    <a href="bize-katilin.html" class="btn btn-light rounded-pill text-primary d-flex align-items-center justify-content-center">Bize Katılın</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
                <div class="centerBg">
                    <img src="../../../public/assets/statics/contentBg.png" alt="">
                </div>
                <div class="center pt-lg-5 pt-3">
                    <div class="contentHead pt-4">
                        <h1>Hizmetlerimiz</h1>
                    </div>
                    <div class="content pt-lg-4">
                        <div class="container-xxxl px-xxxl-0 px-4 px-lg-2">
                            <div class="row px-4 px-xxxl-0">
                                <div class="leftMenu col-lg-4 col-xxl-3 col-12 pt-lg-2 px-0">
                                    <div class="d-flex d-lg-none justify-content-center justify-content-between pt-3 mt-1 px-0">
                                        <a class="prevPage disabled" role="button" aria-disabled="true"><span class="icon-right-arrow text-primary"></span></a>
                                        <h3>Festivaller ve Konserler</h3>
                                        <a class="nextPage" href="kongre-toplantilari.html"><span class="icon-right-arrow text-primary"></span></a>
                                    </div>
                                    <div class="leftMenuList pt-3 d-lg-inline-block d-none ps-4 ps-xxxl-3">
                                        <a class="active" href="festivaller-konserler.html"><span>Festivaller ve Konserler</span></a>
                                        <a href="kongre-toplantilari.html"><span>Kongre ve Toplantılar</span></a>
                                        <a href="resmi-torenler.html"><span>Resmi Törenler ve Anma Programları</span></a>
                                        <a href="tanitim-lansmanlar.html"><span>Tanıtım ve Lansmanlar</span></a>
                                        <a href="fuar-standlar.html"><span>Fuar ve Standlar</span></a>
                                        <a href="vip-karsilama.html"><span>Vip Karşılama ve Transfer</span></a>
                                        <a href="lcv-sms-mailing-hizmetleri.html"><span>LCV, Sms ve Mailing Hizmetleri</span></a>
                                    </div>
                                </div>
                                <div class="contentBody col-lg-8 col-xxl-7 col-12 pt-lg-2 ps-lg-5 px-0">
                                    <div class="paragraph text-lg-start text-justify pt-lg-4 pt-3 ps-lg-5">
                                        <p>Dijital ya da konvansiyonel alanda markanızın ruhuna ve hikayesine uygun renkleri ve fontları belirleyerek tasarımı yapıyoruz. Size uygun ve farklı olanı elde ettiğimizde hayallerinizi renklendirmiş oluyoruz.</p>
                                        <p>Bu alanda tasarımı konu alan tüm çalışmalar kreatif ekibimiz tarafından değerlendirilerek çeşitli bakış açılarıyla kurgulanmakta. Böylelikle en iyiye ulaşma hedefi bizimle mümkün olmakta.</p>
                                        <ul>
                                        <li> Kurumsal Kimlik</li>    
                                        <li> Sosyal Medya Tasarımı</li>  
                                        <li> Web Sitesi Tasarımı</li>    
                                        <li> Proje Tasarımı</li> 
                                        <li> Sahne Tasarımı</li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content pt-lg-4">
                        <div class="row mx-0">
                            <div class="leftMenu col-lg-4 col-xxl-3 col-12 offset-lg-1 pt-lg-2 px-lg-0 px-4">
                                <div class="d-flex d-lg-none justify-content-center justify-content-between pt-3 mt-1 px-3">
                                    <a class="prevPage disabled" role="button" aria-disabled="true"><span class="icon-right-arrow text-primary"></span></a>
                                    <h3>Festivaller ve Konserler</h3>
                                    <a class="nextPage" href="kongre-toplantilari.html"><span class="icon-right-arrow text-primary"></span></a>
                                </div>
                                 <div class="leftMenuList pt-3 d-lg-inline-block d-none">
                                    <a class="active" href="festivaller-konserler.html"><span>Festivaller ve Konserler</span></a>
                                    <a href="kongre-toplantilari.html"><span>Kongre ve Toplantılar</span></a>
                                    <a href="resmi-torenler.html"><span>Resmi Törenler ve Anma Programları</span></a>
                                    <a href="tanitim-lansmanlar.html"><span>Tanıtım ve Lansmanlar</span></a>
                                    <a href="fuar-standlar.html"><span>Fuar ve Standlar</span></a>
                                    <a href="vip-karsilama.html"><span>Vip Karşılama ve Transfer</span></a>
                                    <a href="lcv-sms-mailing-hizmetleri.html"><span>LCV, Sms ve Mailing Hizmetleri</span></a>
                                </div>
                            </div>
                            <div class="contentBody col-lg-6 col-xxl-5 col-12 me-auto px-lg-5 pt-lg-2 px-4">
                                <div class="paragraph text-lg-left text-justify px-3 pt-lg-4 pt-3 ms-xxxl-n1">
                                    <p>Dijital ya da konvansiyonel alanda markanızın ruhuna ve hikayesine uygun renkleri ve fontları belirleyerek tasarımı yapıyoruz. Size uygun ve farklı olanı elde ettiğimizde hayallerinizi renklendirmiş oluyoruz.</p>
                                    <p>Bu alanda tasarımı konu alan tüm çalışmalar kreatif ekibimiz tarafından değerlendirilerek çeşitli bakış açılarıyla kurgulanmakta. Böylelikle en iyiye ulaşma hedefi bizimle mümkün olmakta.</p>
                                    <ul>
                                       <li> Kurumsal Kimlik</li>    
                                       <li> Sosyal Medya Tasarımı</li>  
                                       <li> Web Sitesi Tasarımı</li>    
                                       <li> Proje Tasarımı</li> 
                                       <li> Sahne Tasarımı</li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <footer class="bg-primary">
                    <div class="container-xxxl px-xxxl-0 position-relative pb-2 pt-3">
                        <div class="d-flex align-items-center flex-column flex-lg-row  w-100 justify-content-between">
                            <a href="index.html" class="logo"><img src="../../../public/assets/statics/logo-light-2.svg" alt=""></a>
                            <div class="nav hstack pt-3 ps-3 d-none d-lg-flex">
                                <a href="bizkimiz.html">Biz Kimiz?</a>
                                <a href="hizmetlerimiz.html">Hizmetlerimiz</a>
                                <a href="medya.html">Medya</a>
                                <a href="referanslar.html">Referanslar</a>
                                <a href="iletisim.html">İletişim</a>
                            </div>
                            <div class="adress d-lg-none d-flex flex-column align-items-center text-center px-4 pt-4 pb-1">
                                <a class="pt-2" href="javascript:;">
                                    Soğanlık Yeni Mah. Aliağa Sok. No.:8 Bumerang Kartal Kat: 27 D: 140 İstanbul, Türkiye
                                </a>
                                <a class="pt-3" href="callto:02167663187">0 (216) 766 3187</a>
                                <a href="mailto:info@ikpolaris.com">info@ikpolaris.com</a>
                            </div>
                            <div class="socialMedia pt-3 hstack justify-content-center">
                                <a href="javascript:;"><span class="fs-6 icon-instagram"></span></a>
                                <a href="javascript:;"><span class="fs-6 icon-twitter"></span></a>
                                <a href="https://www.linkedin.com/company/ikpolaris/?originalSubdomain=tr" target="_blank"><span class="fs-6 icon-linkedin"></span></a>
                                <a href="javascript:;"><span class="fs-6 icon-facebook"></span></a>
                                <a href="https://www.youtube.com/@PolarisInsanKaynaklar?si=crJb8efFssJ-hPcm" target="_blank"><span class="fs-6 icon-youtube"></span></a>
                            </div>
                        </div>
                        <div class="text-center bottom pb-4 pt-2 mt-n1">
                            <span>© 2023 polarisik.com </span>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.10/lottie.min.js"></script>
        <script src="../../assets/front/js/app.js"></script>
    </body>
</html>
