.cards {
    .card {
        width: calc(270.761px + 37px);
        height: calc(148.482px + 37px);
        padding: 18.5px;
        .imageWrapper{
            will-change: transform;
            will-change: transform!important;
        }
        @media screen and (max-width:991.98px) {
            width: 100%;
            height: calc(55px + 12px);
            padding: 6px 0;
        }
        a {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 30px;
            background: var(--primary-color, #4766f4);
            box-shadow: 0px 1px 26px 0px rgba(71, 102, 244, 0.5);
            color: var(--default-white, #fff);
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            transition: all 0.3s linear;
            overflow: hidden;
            position: relative;
            z-index: 1;
            padding: 5px 40px;
            @media screen and (max-width: 991.98px) {
                border-radius: 100px;
                background: linear-gradient(90deg, #3a50b1 20.34%, #4766f4 91.86%);
                box-shadow: none;
                font-size: 14px;
                font-weight: 600;
                padding: 0;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding-left: 41px;
                padding-right: 16px;
                text-align: left;
                span{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                }
                img{
                    margin-right: 10px;
                }
            }
            @media screen and (min-width: 992px) {
                &:after {
                    content: "";
                    background-image: url("../images/card-bg.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: right bottom;
                    width: 149px;
                    height: 148px;
                    position: absolute;
                    // transform: translate(150%, 98%);
                    transition: all 0.3s linear;
                    z-index: -1;
                    bottom: -200px;
                    right: -200px;
                }
                &:hover {
                    border-radius: 30px;
                    background: var(--primary-color-dark, #3a50b1);
                    box-shadow: 0px 1px 26px 0px #4766f4;
                    transform: translateY(-10px);
                    &:after {
                        // transform: translate(87%, 4%);
                        bottom:0;
                        right: 0;
                    }
                }
            }
        }
    }

    //type2 ornek fotograflar sayfasında kullanılmıstır
    &.type2{
        @media screen and (max-width:575.98px) {
            .col-10{
                margin: 0 auto;
            }
        }

        .card{
            width: 100%;
            height: 100%;
            display: block;
 
            .icon-plus,
            .icon-play{
                width: 60px;
                height: 60px;
                background-color: rgba(71, 102, 244, 1);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(100px);
                transition: all .7s ease;
                opacity: 0;
                &:before{
                    font-size: 19.71px;
                    color: #ffffff;
                }
            }
            .card-top{
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 8/4.4;
                overflow: hidden;
                border-radius: 30px;
                @media screen and (max-width:991.98px) {
                    aspect-ratio: 8/4.5;
                    border-radius: 15px;
                }
                img{
                    
                    transition: all .7s ease;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @media screen and (min-width:992px) {
                &:hover{
                    .icon-plus,
                    .icon-play{
                        transform: translateY(0);
                        opacity: 1;
                    }
                    .card-top{
                        img{
                            transform: scale(1.1);
                        }
                    }
                    .card-title{
                        transform: translateY(5px);
                    }
                }
            }
        }
        .card-body{
            height: 94px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 32px;
            @media screen and (max-width:991.98px) {
                height: 66px;
                padding: 3px 12px;
            }
            .card-title{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                transition: all .7s ease;
            }
        }
        &.big{
            .card-top{
                aspect-ratio: 8/5.3;
            }
        }
    }
    &.effect2{
        .card-body{
            overflow: hidden;
            @media screen and (min-width:992px) {
                .card-title{
                    transform: translateY(-30px);
                    transition: all .7s ease;
                    opacity: 0;
                }
            }
        }
        .card{
            @media screen and (min-width:992px) {
                &:hover{
                    .card-title{
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
