.center {
  min-height: calc(100vh - 118px - 187px);
}
@media screen and (max-width: 991.98px) {
  .center {
    min-height: calc(100vh - 98px - 388px);
  }
}
@media screen and (min-width: 992px) {
  .center .content {
    padding-bottom: 80px;
  }
}
.center .referans a {
  transition: all 0.3s ease;
  display: block;
}
@media screen and (max-width: 767.98px) {
  .center .referans a {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
    aspect-ratio: 8/4.5;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .center .referans a:nth-child(4n+1) {
    text-align: left !important;
  }
  .center .referans a:nth-child(4n) {
    text-align: right !important;
  }
}
@media screen and (min-width: 1400px) {
  .center .referans a:nth-child(5n+1) {
    text-align: left !important;
  }
  .center .referans a:nth-child(5n) {
    text-align: right !important;
  }
}
.center .referans a img {
  filter: blur(1.5px) grayscale(1) opacity(0.5);
  transition: filter 0.5s ease;
}
@media screen and (max-width: 767.98px) {
  .center .referans a img {
    filter: grayscale(1);
  }
}
.center .referans a:hover img {
  filter: blur(0) grayscale(1) opacity(0.5);
}
.center .contact-adress {
  border-radius: 0px 500px 500px 0px;
  background: radial-gradient(151.07% 139.76% at 77.81% 100%, #F6F6F6 0%, rgba(255, 255, 255, 0) 100%);
}
.center .contact-adress a,
.center .contact-adress span,
.center .contact-adress p {
  color: rgb(108, 117, 125) !important;
}
@media screen and (max-width: 991.98px) {
  .center .contact-adress .socialMedia {
    justify-content: center;
  }
}
.center .contact-adress .socialMedia a + a {
  margin-left: 22px;
}
.center .contact-adress .socialMedia :before {
  color: rgb(108, 117, 125) !important;
}
.center .contact-adress a {
  letter-spacing: 0.9px;
}
@media screen and (max-width: 991.98px) {
  .center .contact-adress a {
    justify-content: center;
    white-space: normal;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 17px;
  }
}
.center .mapBg {
  margin-top: 55px;
}
.center .map {
  padding-top: 87px;
  height: 565px;
}
@media screen and (max-width: 1200px) {
  .center .map {
    padding-top: 0;
    height: 453px;
  }
}
@media screen and (max-width: 991.98px) {
  .center .map {
    margin-bottom: -90px;
  }
}
.center .map .rounded-pill {
  border-radius: 0 !important;
}
@media screen and (min-width: 992px) {
  .center .map .rounded-pill {
    border-radius: 500px 0px 0px 500px !important;
    background: var(--default-white, #FFF);
    padding: 20px;
  }
  .center .map .rounded-pill iframe {
    border-radius: 500px 0px 0px 500px !important;
  }
}
@media screen and (max-width: 991.98px) {
  .center .map iframe {
    filter: grayscale(1);
  }
}

.centerBg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 36.5vw;
  height: 36vw;
  max-width: 701px;
  max-height: 64vh;
}
@media screen and (max-width: 991.98px) {
  .centerBg {
    width: 37.1vw;
    height: 41vw;
  }
}
@media screen and (min-width: 1921px) {
  .centerBg {
    max-height: 699px;
  }
}
.centerBg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contentHead {
  text-align: center;
}
.contentHead a {
  color: var(--secondary-color, #d7d7d7);
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  display: block;
  margin-top: 30px;
}
@media screen and (max-width: 991.98px) {
  .contentHead a {
    display: inline-flex;
    height: 40px;
    padding: 13px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--gray-300, #dee2e6);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 9px;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 991.98px) {
  .contentBody {
    margin: 0 auto !important;
  }
}

.prevPage,
.nextPage {
  padding: 0 !important;
}
.prevPage span,
.nextPage span {
  font-size: 14px !important;
}
.prevPage.disabled,
.nextPage.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.prevPage {
  padding-right: 10px !important;
}
.prevPage .icon-right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prevPage .icon-right-arrow:before {
  display: block;
  transform: rotate(-180deg);
}

.prevNext {
  padding-left: 10px !important;
}/*# sourceMappingURL=center.css.map */