.center {
    min-height: calc(100vh - 118px - 183px);
    @media screen and (max-width: 991.98px) {
        min-height: calc(100vh - 98px - 360px);
    }
    .content {
        @media screen and (min-width: 992px) {
            padding-bottom: 120px;
        }
    }

    .referans {
        a {
            transition: all 0.3s ease;
            display: block;
            @media screen and (max-width: 767.98px) {
                background-color: #ffffff;
                border-radius: 16px;
                box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
                aspect-ratio: 8/4.5;
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            

            img {
                filter: grayscale(1) opacity(0.5);
                transition: filter 0.5s ease;
                @media screen and (max-width: 767.98px) {
                    filter: grayscale(1);
                }
            }
            @media screen and (min-width: 992px) {
                &:hover {
                    img {
                        filter: grayscale(1) opacity(1);
                    }
                }
            }
        }
        & > div{
            @media screen and (min-width: 768px) {
                &:nth-child(4n + 1) {
                    a{
                        text-align: left !important;
                    }
                }
                &:nth-child(4n) {
                    a{
                        text-align: right !important;
                    }
                }
            }
            @media screen and (min-width: 1400px) {
               
                &:nth-child(5n + 1) {
                    a{
                        text-align: left !important;
                    }
                }
                &:nth-child(5n) {
                    a{
                        text-align: right !important;
                    }
                }
            }
        }
    }
    .contact-adress {
        border-radius: 0px 500px 500px 0px;
        background: radial-gradient(151.07% 139.76% at 77.81% 100%, #f6f6f6 0%, rgba(255, 255, 255, 0) 100%);
        a,
        span,
        p {
            color: rgba(108, 117, 125, 1) !important;
        }

        .socialMedia {
            @media screen and (max-width: 991.98px) {
                justify-content: center;
            }
            :before {
                color: rgba(108, 117, 125, 1) !important;
            }
            a {
                & + a {
                    margin-left: 22px;
                }
                @media screen and (min-width: 992px) {
                    &:hover {
                        span {
                            &:before {
                                color: var(--primary-color, #4766f4) !important;
                            }
                        }
                    }
                }
            }
        }
        a {
            font-size: 18px;
            transition: all 0.3s linear;
            @media screen and (max-width: 991.98px) {
                justify-content: center;
                white-space: normal;
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 17px;
            }
            @media screen and (min-width: 992px) {
                &:hover {
                    color: var(--primary-color, #4766f4) !important;
                }
            }
        }
        .contactInfo {
            @media screen and (min-width: 1921px) {
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                .ms-xl-n2 {
                    margin-left: 0 !important;
                }
            }
        }
    }
    #contactForm {
        @media screen and (min-width: 1921px) {
            max-width: 790px;
        }
    }
    .mapBg {
        margin-top: 55px;
    }
    .map {
        padding-top: 87px;
        height: 565px;
        @media screen and (max-width: 1200px) {
            padding-top: 0;
            height: 453px;
        }
        @media screen and (max-width: 991.98px) {
            margin-bottom: -90px;
        }
        .rounded-pill {
            border-radius: 0 !important;
            @media screen and (min-width: 992px) {
                border-radius: 500px 0px 0px 500px !important;
                background: var(--default-white, #fff);
                padding: 20px;
                iframe {
                    border-radius: 500px 0px 0px 500px !important;
                }
            }
        }
        iframe {
            filter: grayscale(1);
            mix-blend-mode: luminosity;
        }
    }
}
.centerBg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 36.5vw;
    height: 36vw;
    max-width: 701px;
    max-height: 699px;
    @media screen and (max-width: 991.98px) {
        width: 37.1vw;
        height: 41vw;
    }
    @media screen and (min-width: 1920px) {
        max-height: 699px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.contentHead {
    text-align: center;
    a {
        color: var(--secondary-color, #d7d7d7);
        font-size: 26px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        display: block;
        margin-top: 30px;
        transition: all .3s linear;
        @media screen and (max-width: 991.98px) {
            display: inline-flex;
            height: 40px;
            padding: 13px 30px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 100px;
            background: var(--gray-300, #dee2e6);
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin-top: 9px;
            margin-bottom: 19px;
        }
        @media screen and (min-width:992px) {
            &:hover{
                color:var(--primary-color, #4766f4)
            }
        }
    }
}
.contentBody {
    @media screen and (max-width: 991.98px) {
        margin: 0 auto !important;
    }
}
.prevPage,
.nextPage {
    padding: 0 !important;
    position: absolute;
    top: 50%;
    margin-top: 3px;
    span {
        font-size: 14px !important;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}
.prevPage {
    left: 0;
    .icon-right-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            display: block;
            transform: rotate(-180deg);
        }
    }
}
.nextPage {
    right: 0;
}

.bizeKatilinBg,
.bizeKatilinBgSmall {
    position: absolute;
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}
.bizeKatilinBg {
    left: 0;
    width: 18.90625vw;
    height: 26.09375vw;
    max-width: 363px;
    max-height: 501px;
    @media screen and (min-width: 1921px) {
        width: 363px;
        height: 501px;
    }
}
.bizeKatilinBgSmall {
    top: 56%;
    right: 8.3%;
    max-width: 177px;
    max-height: 177px;
    width: 9.21875vw;
    height: 9.21875vw;
}

@media screen and (max-width: 991.98px) {
    .mobileCenter {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
