.nav{
    .nav-pills,
    .nav-link{
        border-radius: 0;
        border:none;
        background-color: rgba(0,0,0,0);
        color: var(--secondary-color, #D7D7D7);
        font-size: 26px;
        font-weight: 600;
        line-height: normal;
        &.active{
            background-color: rgba(0,0,0,0);
            color: var(--primary-color, #4766F4);
        }
        button{
            background-color: rgba(0,0,0,0);
            color: var(--secondary-color, #D7D7D7);
        }
    }
    .nav-item{
        display: flex;
        align-items: center;
        & + .nav-item{
            &:before{
                content:"/";
                overflow: hidden;
                color: var(--secondary-color, #D7D7D7);
                font-size: 26px;
                font-style: normal;
                font-weight: 100;
                line-height: normal;
            }
        }
    }
}